<h1>Help</h1>
<p> this site is for creating and managing cloud servers.<br></br>
  There are many types of servers , each is has a specific feature, Like memory, cpu and network IO capacity <br></br>
  based on this the hourly rate of the server will differ.<br></br>
  individual , Group or Organisation can get instances of a server type.<br></br>
  once a instance is acquired, uer can start and stop it. </br>
  we can create a user and can assign any number of instances to the user.
  </p>
